<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content={{ site.author }} />
    <link rel="stylesheet" href="stylesheets/common.css">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  </head>
  <body>
    <header>
    <h1><a href="/"><img src="images/commonLogo.png" width="450" height="100" alt={{ site.title }}></a></h1>
    </header>
    <article>
      {{ content }}
    </article>
    <footer>
      <nav>
        <ul>
          {% navlink /index.html %}HOME{% endnavlink %}
          {% navlink /aboutus.html %}日本Rubyの会について{% endnavlink %}
          {% navlink /constitution.html %}日本Rubyの会会則{% endnavlink %}
          {% navlink /admission.html %}入会案内{% endnavlink %}
        </ul>
      </nav>
      <p id="copyright">&copy; 2011 {{ site.title }}</p>
    </footer>
  </body>
</html>
